name: DataverseLogin
on:
  workflow_dispatch:

jobs:
  login:
    runs-on: windows-latest   # alternate runner OS is: ubuntu-latest
    env:
      RUNNER_DEBUG: 1

    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true
        
    - name: who-am-i action
      uses: microsoft/powerplatform-actions/who-am-i@v0
      with:
        environment-url: "https://ljr-appinsightsdv.crm9.dynamics.com/"
        app-id: "70dbbbb5-71bd-45d5-a23b-f23149d30c73"
        client-secret: "1F58Q~F8aLc1gZ0MUnCNxypvUUm7fPNhQcq5JbT1"
        tenant-id: "c0daba30-fba7-4669-a2fc-36142728b7e9"
        cloud: "USGOV"
        
